<div class="jt-menu" ng-mouseleave="$ctrl.muestraPanel(false)">
    <div class="jt-menu-seccion-izquierda">
        <span><a href="/#!/directorio">{{$ctrl.titulo}}</a></span>
    </div> 
    <div class="jt-menu-seccion-central">
        <ul class="jt-menu-elemento">
            <li class="jt-menu-elemento-enlace" ng-repeat="enlace in $ctrl.sesion.menufica" ng-click="$ctrl.mostrarSubMenu($index)">
                <span class="fa {{enlace.icon}}"></span><span class="texto">{{enlace.titulo}}</span>
                <ul class="jt-menu-elemento-subenlace" ng-show="$ctrl.muestraSubMenu($index)" id="{{$index}}">
                    <li ng-repeat="subenlace in enlace.subenlaces"><a ng-href="/#!/{{enlace.href}}/{{subenlace.href}}"><span class="fa {{subenlace.icon}}"></span><span class="texto">{{subenlace.titulo}}</span></a></li>
                </ul>
            </li>
        </ul>
    </div> 
    <div class="jt-menu-seccion-derecha" ng-click="$ctrl.muestraPanel(true)">
        <span><span class="fa fa-edit"></span><span class="texto">Bienvenido, {{$ctrl.sesion.uid}}</span></span>
        <ul class="jt-menu-panel-usuario" ng-show="$ctrl.mostrarPanel" ng-mouseleave="$ctrl.muestraPanel(false)">
            <li>
                <p class="jt-menu-panel-usuario-titulo">{{$ctrl.sesion.gecos}}</p>
                <p><a href="/#!/usuario/actualizacion">Editar Datos Personales  <span class="fa fa-edit"></span></a></p>
                <p><a href="/#!/sesion/cerrar">Cerrar Sesión  <span class="fa fa-external-link-square"></span></a></p>
            </li>
        </ul>
    </div> 
</div>

<!-- Estas son las posibilidades del menú
<div class="jt-menu">
    <div class="jt-menu-seccion-izquierda">{{$ctrl.titulo}}</div> 
    <div class="jt-menu-seccion-central">
        <ul class="jt-menu-elemento">
            <li class="jt-menu-elemento-enlace">
                <a href="#"><span class="fa fa-user"></span><span class="texto">Usuarios</span></a>
            </li>
            <li class="jt-menu-elemento-enlace">
                <a href="#"><span class="fa fa-users"></span><span class="texto">Grupos</span></a>
                <ul class="jt-menu-elemento-subenlace">
                    <li>Elemento extenso</li>
                    <li>Elemento 3</li>
                    <li>Elemento 4</li>
                    <li>Elemento 5</li>
                </ul>

            </li>
            <li class="jt-menu-elemento-enlace"><a href="#"><span class="fa fa-desktop"></span><span class="texto">Computadoras</span></a></li>
        </ul>
    </div> 
    <div class="jt-menu-seccion-derecha">
        <span class="fa fa-edit"></span><span class="texto">Bienvenido, alortiz</span>
        <ul class="jt-menu-panel-usuario">
            <li>
                    <p>Francisco Alexander Rodríguez Ortíz</p>
                    <p>Editar Datos Personales </p>
                    <p>Cerrar Sesión </p>
            </li>
        </ul>
    </div> 
</div>
-->
