<div class="jt-menu">
    <div class="jt-menu-seccion-izquierda">{{$ctrl.titulo}}</div> 
    <div class="jt-menu-seccion-central">
        <ul class="jt-menu-elemento">
            <li class="jt-menu-elemento-enlace">
                <a href="#"><span class="fa fa-user"></span><span class="texto">Usuarios</span></a>
            </li>
            <li class="jt-menu-elemento-enlace">
                <a href="#"><span class="fa fa-users"></span><span class="texto">Grupos</span></a>
                <ul class="jt-menu-elemento-subenlace">
                    <li>Elemento</li>
                    <li>Elemento extenso</li>
                    <li>Elemento 3</li>
                    <li>Elemento 4</li>
                    <li>Elemento 5</li>
                </ul>

            </li>
            <li class="jt-menu-elemento-enlace"><a href="#"><span class="fa fa-desktop"></span><span class="texto">Computadoras</span></a></li>
        </ul>
    </div> 
    <div class="jt-menu-seccion-derecha">
        <span class="fa fa-edit"></span><span class="texto">Bienvenido, alortiz</span>
        <ul class="jt-menu-panel-usuario">
            <li>
                    <p>Francisco Alexander Rodríguez Ortíz</p>
                    <p>Editar Datos Personales </p>
                    <p>Cerrar Sesión </p>
            </li>
        </ul>
    </div> 
</div>
