<div class="pure-u-1 ">
    <div class="contenido jt-busqueda">
        <form class="pure-form jt-form jt-formulario-busqueda" novalidate>
            <div class="jt-input-iconico">
                <i class="fa fa-search jt-input-iconico-ico"></i>
                <input class="pure-u-1 jt-input-iconico-in" type="text" ng-model="$ctrl.filtroUsuario"></input>
            </div>
        </form>
    </div>
</div>
<div class="pure-u-1 ">
    <table class="pure-table pure-table-horizontal jt-tabla-contenido">
        <tbody>
            <tr ng-repeat="entrada in $ctrl.corpus | filter:$ctrl.filtroUsuario">
                <td>
	            <fila-panel-usuarios usuario="entrada" 
                                         grupos="$ctrl.listadogrupos" 
                                         editar-usuario="$ctrl.editarEntradaListado(entrada)" 
                                         borrar-entrada="$ctrl.borrarEntradaListado(entrada)">
                    </fila-panel-usuario>
                </td>
            </tr>
        </tbody>
    </table>
</div>
