<div class="pure-u-1 pure-u-md-7-24 ">
    <div class="contenido">
        <p> Una línea lo suficientemente extensa como para demostrar hasta donde esta llegando el div, jamás pensé que alguna vez haría un maquetado como este</p>
        <form class="pure-form">
            <input type="text" class="pure-u-1" ng-model="filtroUsuario"></input>
            <jt-switch buzon="buzon" actualiza="actualizaBuzon(estado)"></jt-switch>
        </form>
        <p>{{buzon.estado}}</p>
    </div>
</div>
<div class="pure-u-1 pure-u-md-17-24">
    <table class="pure-table pure-table-horizontal">
        <tbody>
            <tr ng-repeat="entrada in corpus | filter:filtroUsuario">
                <td>
	            <fila-panel-usuarios usuario="entrada" grupos="listadogrupos" editar-usuario="editarEntradaListado(entrada)" borrar-entrada="borrarEntradaListado(entrada)"></fila-panel-usuario>
                </td>
            </tr>
        </tbody>
    </table>
</div>
