<div class="pure-u-1">
    <div class="contenido jt-busqueda">
        <jt-alerta tipo=$ctrl.alerta.tipo cerrado=$ctrl.alerta.estado titulo=$ctrl.alerta.titulo mensaje=$ctrl.alerta.mensaje codigo=$ctrl.alerta.codigo></jt-alerta>
        <form class="pure-form jt-form jt-formulario-busqueda" novalidate>
            <div class="jt-input-iconico">
                <i class="fa fa-search jt-input-iconico-ico"></i>
                <input class="pure-u-1 jt-input-iconico-in" type="text" ng-model="$ctrl.filtroUsuario"></input>
            </div>
        </form>
    </div>
    <table class="pure-table pure-table-horizontal jt-tabla-contenido">
        <tbody>
            <tr ng-repeat="entrada in $ctrl.corpus">
                <td>
	                <fila-panel-computadoras computadora="entrada" 
                                         editar-entrada="$ctrl.editarEntradaListado(entrada)" 
                                         borrar-entrada="$ctrl.borrarEntradaListado(entrada)">
                    </fila-panel-computadoras>
                </td>
            </tr>
        </tbody>
    </table>
</div>
