<div class="pure-u-1 pure-u-md-7-24 ">
    <div class="contenido" ng-click="fetch()">
        <p> Una línea lo sufcientemente extensa como para demostrar hasta donde esta llegando el div, jamás pensé que alguna vez haría un maquetado como este</p>
        <h3>Este es nuestro hermoso formulario de actualización de datos </h3>
    </div>
</div>
<div class="pure-u-1 pure-u-md-17-24">
    <table class="pure-table pure-table-horizontal">
        <tbody>
            <tr ng-repeat="entrada in corpus">
                <td>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-lg-8-24 pure-u-xl-7-24 jt-celda">{{entrada.cn}}</div>
                        <div class="pure-u-1 pure-u-lg-8-24 pure-u-xl-5-24 jt-celda">{{entrada.mail}}</div>
                        <div class="pure-u-1 pure-u-lg-8-24 pure-u-xl-7-24 jt-celda jt-truncado">{{entrada.o}}</div>
                        <div class="pure-u-1 pure-u-lg-24-24 pure-u-xl-5-24 jt-celda">
                            <div class="pure-g">
                                <div class="pure-u-1-2 pure-u-md-1-2">
                                    <button class="button-success pure-button"><i class="fa fa-edit"></i>Editar</button>
                                </div>
                                <div class="pure-u-1-2 pure-u-md-1-2">
                                    <button class="button-error pure-button"><i class="fa fa-trash"></i>Borrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g" id="detalle-usuario">
                        <div class="pure-u-1 pure-u-xl-7-24 jt-celda jt-celda-detalle">
                            <i class="fa fa-bookmark"></i>{{entrada.title}}
                        </div>
                        <div class="pure-u-1 pure-u-xl-8-24 jt-celda jt-celda-detalle">
                            <i class="fa fa-map-marker"></i>{{entrada.ou}}</div>
                        <div class="pure-u-1 pure-u-xl-9-24 jt-celda jt-celda-detalle">
                            <i class="fa fa-map-marker"></i>{{entrada.o}}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
