<div class="pure-u-1">
    <div class="contenido jt-busqueda">
        <jt-alerta tipo=$ctrl.alerta.tipo cerrado=$ctrl.alerta.estado titulo=$ctrl.alerta.titulo mensaje=$ctrl.alerta.mensaje codigo=$ctrl.alerta.codigo></jt-alerta>
        <form class="pure-form jt-form jt-formulario-busqueda" novalidate>
            <div class="jt-input-iconico">
                <i class="fa fa-search jt-input-iconico-ico"></i>
                <input class="pure-u-1 jt-input-iconico-in" type="text" ng-model="$ctrl.filtroUsuario" ng-change="$ctrl.llenaListado($ctrl.filtroUsuario)"></input>
            </div>
        </form>
    </div>
    <table class="pure-table pure-table-horizontal pure-table-striped jt-tabla-contenido">
        <tbody>
            <tr ng-repeat="entrada in $ctrl.corpus | jtBuscador:$ctrl.filtroUsuario as contenido">
                <td>
                    <div class="pure-u-1 jt-directorio-t">
                        <b class="jt-directorio-t-cn">{{entrada.givenName}} {{entrada.sn}}</b> <span class="jt-directorio-t-title"><i>{{entrada.title}}</i></span>
                    </div>
                    <div class="pure-u-1 jt-directorio-localidad">
                        <i class="fa fa-map-marker"></i>{{entrada.ou}} <span ng-show="entrada.ou && entrada.o.nombre">en </span>{{entrada.o.nombre}}
                    </div>
                    <div class="pure-g jt-directorio-contacto">
                        <div class="pure-u-1 pure-u-md-1-2">
                            <i class="fa fa-envelope"></i>{{entrada.mail}}
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            <i class="fa fa-phone"></i>{{entrada.telephoneNumber}}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
