<jt-alerta tipo=$ctrl.alerta.tipo cerrado=$ctrl.alerta.estado titulo=$ctrl.alerta.titulo mensaje=$ctrl.alerta.mensaje codigo=$ctrl.alerta.codigo></jt-alerta>
<div class="pure-g jt-fila-panel">
    <div class="pure-u-1 pure-u-lg-8-24  pure-u-xl-6-24  jt-celda">
        <i class="fa fa-users"></i>
        <span class="texto">{{$ctrl.grupo.gidNumber}} {{$ctrl.grupo.sn}}</span>
    </div>
    <div class="pure-u-1 pure-u-lg-5-24  pure-u-xl-3-24  jt-celda">
        <i class="fa fa-at"></i>
        <span class="texto">{{$ctrl.grupo.cn}}</span>
    </div>
    <div class="pure-u-1 pure-u-lg-11-24 pure-u-xl-12-24 jt-celda">
        <i class="fa fa-tags"></i>
        <span class="texto">
            <i>{{$ctrl.grupo.description}}</i></span>
    </div>
    <div class="pure-u-1 pure-u-lg-24-24 pure-u-xl-3-24 jt-celda jt-fila-panel-botonera">
        <div class="pure-g">
            <div class="pure-u-1-3 pure-u-md-1-3">
                <button class="button-success pure-button izquierda" ng-click="$ctrl.mostrarPanel(1, $ctrl.grupo.gidNumber)"><i class="fa fa-info-circle"></i></button>
            </div>
            <div class="pure-u-1-3 pure-u-md-1-3">
                <button class="button-success pure-button centro" ng-click="$ctrl.mostrarPanel(2, $ctrl.grupo.gidNumber)"><i class="fa fa-edit"></i></button>
            </div>
            <div class="pure-u-1-3 pure-u-md-1-3">
                <button class="button-error pure-button derecha" ng-click="$ctrl.mostrarPanel(3, $ctrl.grupo.gidNumber)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="pure-g" ng-if="$ctrl.isPanelActivo(1)">
    <!-- <detalle-grupos grupo="$ctrl.grupo" grupo-detalle="$ctrl.corpus" grupos="$ctrl.grupos"></detalle-grupos> -->
    <p class="pure-u-1 contenido">Vas por el mejor camino posible</p>
</div>
<div class="pure-g" ng-if="$ctrl.isPanelActivo(2)">
    <!-- <jt-formulario-grupo corpus="$ctrl.grupo" corpus-detalle="$ctrl.grupoDetalle" accion="'edicion'" ejecucion="$ctrl.editarFila(corpus, corpusDetalle)" grupos="$ctrl.grupos"></formulario-grupo> -->
    <p class="pure-u-1 contenido">Vas por el mejor camino posible</p>
</div>
<div class="pure-g" ng-if="$ctrl.isPanelActivo(3)">
    <!-- <borrado-grupos grupo="$ctrl.grupo" grupo-detalle="$ctrl.corpus" borrar-entrada="$ctrl.borrarFila(grupo)"></borrado-grupos> -->
    <p class="pure-u-1 contenido">Vas por el mejor camino posible</p>
</div>
