/* app css stylesheet */
/*
 * -- Layout Styles --
 */

/**
    Sobreescribo algunos originales en búsqueda de legibilidad y ahorro de espacio
*/

p {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    /*Estos han funcionado bien bonito*/
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    text-align: justify;
}

h1,h2,h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main {
    /* 0.3 originales y 3.375 del menú  */
    margin-top: 3.675em;
}

footer {
    margin-top: 4.5em;
    background-color: #f5f5f5;
}

footer p {
    margin: 1.5em;
    text-align: center;
}

.pure-table {
    width: 99%;
    padding-top: 1em;
    border: 0em;
}


.pure-form fieldset {
    border: none;
    border-top: 0.1em solid #c9c9c9;
    margin: 0 2px;
    margin-top: 0.5em;
    letter-spacing: normal;
}

.pure-form legend {
    font-size: 1.05em;
    border: 0;
    padding: 0em 0.3em;
    padding-left: 0em;
    width: initial;
    letter-spacing: normal;
}


/* Hago los íconos de Font-Awesome un cuadrito bien bonito */
.fa { 
    width: 1.25em;
    margin-right: 0.1875em;
    text-align: center;
}

.contenido {
    color: #333;
    padding: 0em 0.6em;
}

/* ######################################################################### */

/* 
    Empieza css para componente directorio 
*/

.jt-directorio-t,
.jt-directorio-localidad, 
.jt-directorio-contacto {
    color: #333;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    text-align: justify;
}

.jt-directorio-t-cn {
    font-size: 1.09em;
}

.jt-directorio-t-title {
    font-size: 0.95em;
    margin-left: 0.6em;
    color: #777;
}

/* 
    Termina css para componente directorio 
*/

/* ######################################################################### */

/* 
    Empieza CSS para componente usuario/ 
*/

/* TODO: Esto necesitará eliminar aún más componentes si nos les veo uso */
.button-success,
.button-error,
.button-warning,{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(142, 212, 133);
}

.button-error {
    background: rgb(212, 133, 133);
}

.button-warning {
    background: #df7514;
}

/* Configura un padding y mantiene el tamaño que se ha designado con la Grid de pure */
.jt-celda {
    box-sizing: border-box;
    padding-right: 0.8em;
    color: #333;   
    font-size: 1em;
}

.jt-celda-detalle {
    color: #777;
    font-size: 0.85em;
    line-height: 1.8em;
}

table .pure-button {
    width: 100%;
    font-size: 90%;
    padding: 0.4em 0.5em;
    text-align: center;
    color: #333;
}

.jt-busqueda {
    position: fixed;
    width: 100%;
    top: 3.38em;
}

.jt-tabla-contenido {
    margin-top: 4.5em;
}

/* 
    Termina css para componente usuario/
*/

/* ######################################################################### */

/*
    Comienza el CSS para componente filaPanel
*/

.jt-fila-panel .fa-user ,
.jt-fila-panel .fa-map-marker {
    display: block;   
    width: 1.3125em;
    float: left;
    box-sizing: border-box;
}

.jt-fila-panel .texto {
    display: -webkit-box;   
    display: table;
    box-sizing: border-box;
    line-height: 1.4em;
}

.pure-button.izquierda {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pure-button.centro {
    border-radius: 0px;
}

.pure-button.derecha {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jt-fila-panel-botonera {
    margin-top: 0.4em;
}

@media (min-width: 80em) {
    .jt-fila-panel-botonera {
        margin-top: 0em;
    }
    
    .jt-fila-panel {
        height: 2.75em;
    }

}

/*
    Termina el CSS para componente filaPanel
*/

/* 
    Termina CSS para componente usuario/
*/

/* ######################################################################### */

/* 
    Empieza CSS para componente usuario/detalle 
*/

dt, dd {
    float: left;
    letter-spacing: initial;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /* Luego se sobreescriben algunas, pero siempre irá acá*/
    padding: 0;
    margin: 0;
    color: #333;
}

dl {
    box-sizing: border-box;
    width: 99%;
    padding: 0.6em 0.4em;
    margin: 0
}

dt {
    width: 37%;
    font-size: 1.0em;
    text-align: end; 
    font-weight: 600;
}

dd {
    width: 63%;
    padding-left: 0.9em;
    margin-bottom: 1em;
    font-size: 1.0em;
}

.jt-dt-titulo,.jt-dd-titulo {
    font-size: 1.4em;
}

@media (max-width: 60em) {
    dt,dd {
        width: 100%;    
    } 

    dt{
        text-align: left;
    }

}

@media (min-width: 80em) {
    dt {
        width: 32%;    
    } 

    dd {
        width: 68%;
    }

}

/* 
    Termina CSS para componente usuario/detalle 
*/

/* ######################################################################### */

/*
    Comienza CSS para componente usuario/edicion
*/

.jt-form {
    width: 96%;
    margin-left: 2%;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.9em;
}

.jt-form-component {
    margin: 0.25em 0.3em;
}

.jt-contenedor-boton-izquierda {
    text-align: right;
    box-sizing: border-box;
    padding-right: 0.5em;
}

.jt-contenedor-boton-derecha {
    box-sizing: border-box;
    padding-left: 0.5em;
}

/* TODO: Hay un problema cuando se está en 481 px */
.pure-form .jt-boton-formulario {
    width: 8.5em;
}

/* Estoy por empezar a tomar estilos de http://callmenick.com/post/various-css-input-text-styles */

.pure-form select,
.pure-form input[type="text"] {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: solid 0.13em #c9c9c9;
    border-bottom-left-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
    transition: border 0.3s;
}

.pure-form select:focus,
.pure-form select.focus, 
.pure-form input[type="text"]:focus,
.pure-form input[type="text"].focus {
    outline: none;
    box-shadow: none;
    border-bottom: solid 0.13em #969696;
    border-bottom-left-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}

/* Hablando de componentes bonitos, estoy haciendo un input con icono de la siguiente forma */
.jt-input-iconico {
    display: block;
    position: relative;
}

.jt-input-iconico-ico {
    position: absolute;
    top: 0.7em;
    left: 0.3em;    
}

input[type="text"].jt-input-iconico-in {
    padding-left: 1.8em;   
    width: 99%;
    font-size: 1.25em;
}

.jt-formulario-busqueda {
    margin-left: 0;
    margin-bottom: 1.7em;
     margin-top: 0; 
    padding-top: 0.5em;
    background-color: #fff;
}

/* Acá empiezo el trabajo para que Angular apoye la validación */
/* Esta sería la medida para una sombra por abajo  box-shadow: 0 8px 6px -6px #85b3d4; */
input.ng-valid.ng-touched {
    border-bottom: solid 0.13em #85b3d4;
    /*box-shadow: inset 0px -10px 8px -11px #85b3d4;*/
    box-shadow: inset 0px -9px 8px -11px #85b3d4;
}

input.ng-invalid.ng-touched {
    border-bottom: solid 0.13em #690909;
    box-shadow: inset 0px -9px 8px -11px #690909;
}

.pure-form label{
    margin: 0.4em 0em 0.1em;
}

.pure-form .jt-label-error {
    font-size: 0.8em;
    color: #330b0b;
    font-weight: 600;
    padding-left: 0.8em;
    margin-top: 0.3em;
}

/*
    Termina CSS para componente usuario/edicion
*/

/* ######################################################################### */

/*
    Comienza CSS para componente Angucomplete Alt
*/
.jt-resaltado {
    color: #df3914;
}

/* Siempre que quiera usarse otro angucomplete-alt, habrá que declararlo acá */
#oficina_dropdown,
#establecimiento_dropdown {
    box-sizing: border-box;
    position: absolute;
    width: 98%;
    top: 45px;
    left: 1%;
    z-index: 100;
    height: 500px;
    overflow-x: scroll;
}

.angucomplete-searching {
    font-size: 1em;   
    padding: 0.5em;
    color: #df7514;
}

/* Parece que debería controlar el comportamiento de los componentes personalizados en lo que a CSS se refiere  */
edicion-usuarios,
borrado-usuarios {
    width: 100%;
}

/*
    Termina CSS para componente usuario/edicion
*/

/* ######################################################################### */

/*
    Comienza CSS para componente borrado-usuarios
*/

/* TODO: Hay un pequeño problema cuando se esta en mínimos, aunque no parece referirse al tamaño habrá que tomarlo en cuenta */
.jt-form-borrado legend {
    margin-bottom: 0.5em;
}

.pure-form .jt-boton-formulario-borrado {
    width: 8.5em;

}

/*
    Termina CSS para componente usuario/borrado
*/

/* ######################################################################### */


/*
    Comienza CSS para componente jt-switch
*/

.jt-switch {
    position: relative;
    display: inline-block;
    width: 99%;
    height: 1.8em;
    /* TODO: Así estaría en verdadera sintonía con los demás botones, pero sigo teniendo problemas con el alto */
    /*font-size: 90%;
    padding: 0.4em 0.5em;*/
}

.jt-switch input {
    display:none;
}

.jt-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Estamos en off: Este es el color que se llega por defecto */
    /* background-color: #d48585; */
    box-shadow: inset 5px -3px 3px 0px #d48585;
    -webkit-transition: .4s;
    transition: .4s;
    /* Esto permite que se vea el texto */
    z-index: -1;
    /* Le damos apariencia de botón */
    /*border-radius: 2px;*/
}

.jt-switch .slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background-color: white;
    
    /* Animación al cambio */
    -webkit-transition: .3s;
    transition: .3s;
}

/* Estamos en On */
.jt-switch input:checked + .slider {
    /* background-color: #85bad4; */
    box-shadow: inset -5px -3px 3px 0px #85bad4;
}

/* Sigo sin tener idea de en que momento ocurre este */
.jt-switch input:focus + .slider {
    box-shadow: 0 0 1px #85bad4;
}

.jt-switch input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    /* Forma de bottón */
    border-radius: initial;
}

.jt-switch-text {
    z-index: 1;
    display: flex;
    position: relative;
    top: 20%;
}

.jt-switch-text .on,
.jt-switch-text .off {
    display: block;
    width: 50%;
    text-align:center;
}

/*
    Termina CSS para componente jt-switch
*/

/* ######################################################################### */


/*
 * Comienza CSS para componente jt-menu 
 * */

/* Los siguientes estilos con comunes a todos */
.jt-menu {
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    /* Acá empiezo el trabajo propio*/
    /* Este lo agrego como propio pero temo en realidad por su comportamiento */
    width: 100%;
    /* Color que nav va a tener */
    background-color: #f5f5f5;
    box-sizing: border-box;
    /* Nos ponemos serios con el diseño. El menú fijo es un éxito desde donde se le mire */
    position: fixed;
    /* Aseguramos que el menu este sobre todo el demás contenidos, con lo cual lo oculta */
    z-index: 10;
}

.jt-menu-seccion-izquierda,
.jt-menu-seccion-central,
.jt-menu-seccion-derecha {
    /* Este así lo específica pure-css para los cajones a los que se le configura tamaños */
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    zoom: 1;
    font-family: sans-serif;
    color: #565d64;
    /* Explorer 11, pero ni modo */
    align-items: center;
}

.jt-menu-elemento {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Define los li de cada enlace */
.jt-menu-elemento-enlace {
    list-style: none;
    float: left;
    padding-top: 0.25em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    /* Un pequeño delay en el cambio de fondo y no sé, es que se mira como más bonito  */
    transition: 0.3s;
}

.jt-menu-seccion-central a {
    text-decoration: none;
    color: inherit;
    /* Así la selección ocurre en todo la cajita */
    display: block;
}


/**
 * Acá empiezo el tamaño por defecto 
 * */

.jt-menu-seccion-izquierda {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
}

.jt-menu-seccion-izquierda a{
    text-decoration: none;
    color: inherit;
}

.jt-menu-seccion-izquierda a:hover,
.jt-menu-seccion-izquierda a.hover{
    color: #333;
}

.jt-menu-seccion-central {
    width: 70%;
}

.jt-menu-seccion-derecha {
    width: 30%;
    text-align: end;
    padding-right: 1em;
    /* Para que parezca el enlace que no es */
    cursor: pointer;
    /* Para darle un delay bien bonito, otra onda */
    transition: 0.3s;
}

.jt-menu-seccion-derecha {
    box-sizing: border-box;
}

.jt-menu-seccion-derecha:hover,
.jt-menu-seccion-derecha.hover {
    background-color: #cbcbcb;
    color: #333;
}

.jt-menu-seccion-central .texto,
.jt-menu-seccion-derecha .texto {
    /* Oculto el texto y me ahorro todo ese espacio */
    display: none;
}


@media (min-width: 36.24em) {
    .jt-menu {
        align-items: flex-end;
    }

    .jt-menu-seccion-izquierda{
        line-height: 2.8em;
    }

    .jt-menu-seccion-central,
    .jt-menu-seccion-derecha {
        line-height: 3.375em;
        
    }
    /* Es que el texto tiene aproximadamente este padding-bottom bien raro */
    .jt-menu .fa {
        padding-bottom: 0.25em;
    }
    
    .jt-menu-seccion-izquierda,
    .jt-menu-seccion-central,
    .jt-menu-seccion-derecha {
        box-sizing: border-box;
        padding: 0;
    }
    .jt-menu-seccion-izquierda {
        font-size: 1.2em;
        padding-left: 1em;
        width: 33%;
        text-align: left;
    }
    
    .jt-menu-seccion-central {
        width: 49%;
    }
    
    .jt-menu-seccion-derecha {
        padding-right: 1em;
        text-align: end;
        width: 18%;
    }
    
    .jt-menu-elemento-enlace {
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 1em;
        padding-right: 1em;
    }

    
}

@media (min-width: 48em) {

    .jt-menu-seccion-central .texto {
        /* Oculto el texto y me ahorro todo ese espacio */
        display: initial;
    }

}

@media (min-width: 60em) {
    
    .jt-menu-seccion-derecha .texto {
        /* Oculto el texto y me ahorro todo ese espacio */
        display: initial;
    }

}

/* Definimos de la forma más natural posible un poco el comportamiento a la hora de seleccionar */
.jt-menu-elemento-enlace:hover, 
.jt-menu-elemento-enlace.hover,
.jt-menu-elemento-subenlace li:hover,
.jt-menu-elemento-subenlace li.hover {
    color: inherit;
    display: block;
    background-color: #cbcbcb;
    color: #333;
}

/* Empiezan estilos para subenlaces */
.jt-menu-elemento-subenlace {
    position: absolute;
    /* Dibujamos después del ancho del menu visible */
    top: 3.375em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.jt-menu-elemento-subenlace li {
    padding: 0.5em 0.7em;
    padding-right: 1.5em;
    line-height: initial;
    position: relative;
    right: 1em;
    background-color: #f5f5f5;
    color: #565d64;
}

.jt-menu-elemento-subenlace li:last-child{
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

/*
    Termina CSS para componente jt-menu
*/

/* ######################################################################### */

/*
    Comienza CSS para jt-menu-panel
*/

.jt-menu-panel-usuario {
    position: relative;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300%;
}

@media (min-width: 48em) {
    .jt-menu-panel-usuario {
        width: 200%;
    }
}

@media (min-width: 60em) {
    .jt-menu-panel-usuario {
        width: 170%;
    }
}

@media (min-width: 75em) {
    .jt-menu-panel-usuario {
        width: 120%;
    }
}

.jt-menu-panel-usuario li {
    background-color: #f5f5f5;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

.jt-menu-panel-usuario li {
    /* Dibujamos después del ancho del menu visible */
    top: 3.375em;
    right: 0em;
    position: fixed;
    margin: 0;
    padding: 0;
}

.jt-menu-panel-usuario li p {
    text-align: right;
    line-height: 2em;
    /* Sobreescribo valores que yo mismo hago */
    margin: 0;
}

.jt-menu-panel-usuario li p a, 
.jt-menu-panel-usuario-titulo {
   padding-left: 0.8em; 
   padding-right: 0.95em; 
}

.jt-menu-panel-usuario-titulo {
   font-weight: 700; 
}

.jt-menu-panel-usuario li p a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 0.95em;
}

.jt-menu-panel-usuario li p a:hover {
    background-color: #cbcbcb;
    color: #333;
}

/*
    Termina CSS para jt-menu-panel
*/

/* ######################################################################### */
