/* app css stylesheet */
/*
 * -- Layout Styles --
 */

/**
    Sobreescribo algunos originales en búsqueda de legibilidad y ahorro de espacio
*/

p {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    /*Estos han funcionado bien bonito*/
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8;
    text-align: justify;
}

h1,h2,h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main {
    margin-top: 0.3em;
}

footer {
    margin-top: 5em;
    background-color: #f5f5f5;
}

footer p {
    margin: 1.5em;
    text-align: center;
}

.pure-table {
    width: 99%;
    padding-top: 1em;
    border: 0em;
}


/* Hago los íconos de Font-Awesome un cuadrito bien bonito */
.fa { 
    width: 18px;
    margin-right: 3px;
    text-align: center;
}

.contenido {
    /**color: #777;*/
    color: #333;
    /* Esta es mi primera decisión de buen gusto: Con 0.5 parezco tener más espacio, pero parece menos limpio
    padding: 0em 0.5em;
    */
    padding: 0em 0.6em;
}

/* ######################################################################### */

/*
    Empieza css para directiva menues
*/
.pure-menu-heading {
    text-transform: none;
    font-size: 1.2em;
}

.pure-menu-link {
    padding-top: 0.8em;
}

.menu-wrapper {
    -webkit-font-smoothing: antialiased;
    height: 2.5em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.menu-wrapper.open {
    height: 12.5em;
}

.taskbar {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .taskbar {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }
}

/*
    TERMINA css para componente menu
*/

/* ######################################################################### */

/* 
    Empieza css para componente directorio 
*/

.jt-directorio-t,
.jt-directorio-localidad, 
.jt-directorio-contacto {
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8;
    text-align: justify;
}

.jt-directorio-t-cn {
    font-size: 1.09rem;
}

.jt-directorio-t-title {
    font-size: 0.95rem;
    margin-left: 0.6em;
    color: #777;
}

/* 
    Termina css para componente directorio 
*/

/* ######################################################################### */

/* 
    Empieza CSS para componente usuario/ 
*/

/* TODO: Esto necesitará eliminar aún más componentes si nos les veo uso */
.button-success,
.button-error,
.button-warning,{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(142, 212, 133);
}

.button-error {
    background: rgb(212, 133, 133);
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

/* Esto formatea la tabla tal y como la quiero */

/* El texto, que se pase, a lo largo, del tamaño especificado con Grid de pure será truncado*/
.jt-truncado {
    /*pre como valor causa overflow en muchas condiciones*/
    /*nowrap no funciona porque causa overflow, mierda*/
    white-space: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* Configura un padding y mantiene el tamaño que se ha designado con la Grid de pure */
.jt-celda {
    box-sizing: border-box;
    padding-right: 0.8em;
    color: #333;   
    font-size: 1em;
}

.jt-celda-detalle {
    color: #777;
    font-size: 0.85em;
    line-height: 1.8em;
}

table .pure-button {
    width: 100%;
    font-size: 90%;
    padding: 0.4em 0.5em;
    text-align: center;
    color: #333;
}

.botonera {
    font-size: 0.9em;
    padding: 0.3em 0.8em;
    color: #333;
    width: 7.1em;
    padding-right: 1em;
}

.pure-button .fa {
    width: initial;
}

/* 
    Termina CSS para componente usuario/
*/

/* ######################################################################### */

/* 
    Empieza CSS para componente usuario/detalle 
*/

dt, dd {
    float: left;
    letter-spacing: initial;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /* Luego se sobreescriben algunas, pero siempre irá acá*/
    padding: 0;
    margin: 0;
    color: #333;
}

dl {
    box-sizing: border-box;
    width: 99%;
    padding: 0.6em 0.4em;
    margin: 0
}

dt {
    width: 30%;
    font-size: 1.0em;
    text-align: end; 
    font-weight: 600;
}

dd {
    width: 70%;
    padding-left: 0.9em;
    margin-bottom: 1em;
    font-size: 1.0em;
}

.jt-dt-titulo,.jt-dd-titulo {
    font-size: 1.4em;
}

@media (max-width: 60em) {
    dt,dd {
        width: 100%;    
    } 

    dt{
        text-align: left;
    }

}

/* 
    Termina CSS para componente usuario/detalle 
*/

/* ######################################################################### */

/*
    Comienza CSS para componente usuario/edicion
*/

.jt-edicion-form {
    width: 99%;
    padding-left: 0.5em;
    box-sizing: border-box;
}

.jt-edicion-fila {
    margin: 0.25em;
}

legend {
    font-size: 1.2em;
}

.jt-contenedor-boton-izquierda {
    text-align: right;
    box-sizing: border-box;
    padding-right: 0.5em;
}

.jt-contenedor-boton-derecha {
    box-sizing: border-box;
    padding-left: 0.5em;
}

.jt-boton-formulario {
    width: 8.5em;
}

/* Estoy por empezar a tomar estilos de http://callmenick.com/post/various-css-input-text-styles */

.pure-form input[type="text"] {
  display: block;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.pure-form input[type="text"]:focus {
  outline: none;
}

.pure-form input[type="text"] {
    border: none;
    border-bottom: solid 3px #c9c9c9;
    transition: border 0.3s;
}

.pure-form input[type="text"]:focus,
.pure-form input[type="text"].focus {
    border-bottom: solid 3px #969696;
    box-shadow: none;
}

/**/

.pure-form select {
  display: block;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.pure-form select:focus {
  outline: none;
}

.pure-form select {
    border: none;
    border-bottom: solid 3px #c9c9c9;
    transition: border 0.3s;
}

.pure-form select:focus,
.pure-form select.focus {
    border-bottom: solid 3px #969696;
    box-shadow: none;
}

/* Acá empiezo el trabajo para que Angular apoye la validación */
input.ng-invalid.ng-touched {
    border-bottom: solid 3px #690909;
    box-shadow: inset 0px -10px 8px -11px #690909;
}

/* Esta sería la medida para una sombra por abajo  box-shadow: 0 8px 6px -6px #85b3d4; */
input.ng-valid.ng-touched {
    border-bottom: solid 3px #85b3d4;
    box-shadow: inset 0px -10px 8px -11px #85b3d4;
}

.pure-form .jt-label-error {
    font-size: 0.8em;
    color: #330b0b;
    font-weight: 600;
    padding-left: 0.8em;
    margin-top: 0.3em;
}

/*
    Termina CSS para componente usuario/edicion
*/
