<div class="pure-u-1">
    <jt-alerta tipo=$ctrl.alerta.tipo titulo=$ctrl.alerta.titulo mensaje=$ctrl.alerta.mensaje codigo=$ctrl.alerta.codigo></jt-alerta>
    <form class="pure-form jt-form-auth" name="$ctrl.formularioAuth" ng-submit="$ctrl.enviar($ctrl.formularioAuth.$valid, $ctrl.username, $ctrl.password)" novalidate>
        <fieldset>
            <legend>Autenticación</legend>
            <div class="pure-g">
    
                <div class="pure-u-1">
                    <div class="pure-g jt-form-component">
                        <label class="pure-u-1" for="username">Usuario</label>
                        <input class="pure-u-1" id="username" name="username" type="text" placeholder="usuario" ng-model="$ctrl.username" required></input>
                        <div ng-show="$ctrl.formularioAuth.$submitted || $ctrl.formularioAuth.username.$touched">
                            <label class="pure-u-1 jt-label-error" for="password" ng-show="$ctrl.formularioAuth.username.$error.required">
                                <i class="fa fa-exclamation-triangle"></i>Falta el usuario
                            </label> 
                        </div>
                    </div>
                </div>
                   
                <div class="pure-u-1"> 
                    <div class="pure-g jt-form-component">
                        <label class="pure-u-1" for="password">Contraseña</label>
                        <input class="pure-u-1" id="password" name="password" type="text" placeholder="contraseña" ng-model="$ctrl.password" required></input>
                        <div ng-show="$ctrl.formularioAuth.$submitted || $ctrl.formularioAuth.password.$touched">
                            <label class="pure-u-1 jt-label-error" for="password" ng-show="$ctrl.formularioAuth.password.$error.required">
                                <i class="fa fa-exclamation-triangle"></i>Falta la contraseña
                            </label> 
                        </div>
                    </div>
                </div>
        </fieldset>
        
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="pure-g jt-form-component">
                    <label class="pure-u-1 jt-label-error" for="grupo" ng-show="($ctrl.formularioAuth.$dirty || $ctrl.formularioAuth.$submitted) && $ctrl.formularioAuth.$invalid">
                        <i class="fa fa-exclamation-triangle"></i>Revise los datos introducidos al formulario
                    </label> 
                    <div class="pure-u-1-2 jt-contenedor-boton-izquierda">
                        <button type="submit" class="button-success jt-boton-formulario pure-button" ng-disabled="$ctrl.formularioAuth.$dirty && $ctrl.formularioAuth.$invalid">Login!</button>
                    </div>
                    <div class="pure-u-1-2 jt-contenedor-boton-derecha">
                        <button type="button" class="button-warning jt-boton-formulario pure-button" ng-click="$ctrl.reiniciar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
