<form class="pure-form jt-form" name="$ctrl.formularioEdicionUsuarios"  ng-submit="$ctrl.enviar($ctrl.corpus)" novalidate>
    
    <div class="pure-g">

        <legend>Datos personales para {{$ctrl.usuario.uid}}</legend>

        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="givenname">Nombres</label>
                <input class="pure-u-1 " id="givenname" name="givenname" type="text" placeholder="Nombre" ng-model="$ctrl.usuario.givenName"required sustantivos ></input>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.givenname.$touched">
                    <label class="pure-u-1 jt-label-error" for="givenname" ng-show="$ctrl.formularioEdicionUsuarios.givenname.$error.required">
                        <i class="fa fa-exclamation-triangle"></i>El campo Nombres es obligatorio
                    </label> 
                    <label class="pure-u-1 jt-label-error" for="givenname" ng-show="$ctrl.formularioEdicionUsuarios.givenname.$error.sustantivos">
                        <i class="fa fa-exclamation-triangle"></i>Revise el nombre ingresado
                    </label> 
                </div>
            </div>
        </div>
            
        <div class="pure-u-1 pure-u-lg-1-2"> 
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="sn">Apellidos</label>
                <input class="pure-u-1 " id="sn" name="sn" type="text" placeholder="Apellidos" ng-model="$ctrl.usuario.sn" required sustantivos></input>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.sn.$touched">
                    <label class="pure-u-1 jt-label-error" for="sn" ng-show="$ctrl.formularioEdicionUsuarios.sn.$error.required">
                        <i class="fa fa-exclamation-triangle"></i>El campo Apellidos es obligatorio
                    </label> 
                    <label class="pure-u-1 jt-label-error" for="sn" ng-show="formularioEdicionUsuarios.sn.$error.sustantivos">
                        <i class="fa fa-exclamation-triangle"></i>Revise los apellidos ingresados
                    </label> 
                </div>
            </div>
        </div>
        
        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="dui">DUI</label>
                <input class="pure-u-1 " id="dui" name="dui" type="text" placeholder="DUI" ng-model="$ctrl.usuarioDetalle.dui" required dui></input>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.dui.$touched">
                    <label class="pure-u-1 jt-label-error" for="dui" ng-show="$ctrl.formularioEdicionUsuarios.dui.$error.required">
                        <i class="fa fa-exclamation-triangle"></i>El campo DUI es obligatorio
                    </label> 
                    <label class="pure-u-1 jt-label-error" for="dui" ng-show="$ctrl.formularioEdicionUsuarios.dui.$error.dui">
                        <i class="fa fa-exclamation-triangle"></i>Revise el número de DUI ingresado
                    </label> 
                </div>
            </div>
        </div>
        
        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="nit">NIT</label>
                <input class="pure-u-1 " id="nit" name="nit" type="text" placeholder="NIT" ng-model="$ctrl.usuarioDetalle.nit" required nit></input>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.nit.$touched">
                    <label class="pure-u-1 jt-label-error" for="nit" ng-show="$ctrl.formularioEdicionUsuarios.nit.$error.required">
                        <i class="fa fa-exclamation-triangle"></i>El campo DUI es obligatorio
                    </label> 
                    <label class="pure-u-1 jt-label-error" for="nit" ng-show="$ctrl.formularioEdicionUsuarios.nit.$error.nit">
                        <i class="fa fa-exclamation-triangle"></i>Revise el número de DUI ingresado
                    </label> 
                </div>
            </div>
        </div>
        
        <legend>Atributos administrativos</legend>

        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="o">Establecimiento</label>
                <div class="pure-u-1" angucomplete-alt id="establecimiento"
                    placeholder="Establecimiento"
                    maxlength="50"
                    pause="100"
                    selected-object="$ctrl.seleccionaEstablecimiento"
                    local-data="$ctrl.establecimientos"
                    search-fields="nombre"
                    title-field="nombre"
                    minlength="2"
                    input-class="pure-u-1"
                    match-class="jt-resaltado"
                    auto-match="true"
                    field-required="true"
                    input-name="o"
                    initial-value="$ctrl.usuarioDetalle.o"></div>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.o.$touched">
                    <label class="pure-u-1 jt-label-error" for="o" ng-show="$ctrl.formularioEdicionUsuarios.o.$invalid">
                        <i class="fa fa-exclamation-triangle"></i>El campo Establecimiento es obligatorio
                    </label> 
                </div>
            </div>
        </div>
        
        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="ou">Oficina</label>
                <div class="pure-u-1" angucomplete-alt id="oficina"
                    placeholder="Oficina"
                    maxlength="50"
                    pause="100"
                    selected-object="$ctrl.seleccionaOficina"
                    local-data="$ctrl.oficinas"
                    search-fields="nombre"
                    title-field="nombre"
                    minlength="2"
                    input-class="pure-u-1"
                    match-class="jt-resaltado"
                    auto-match="true"
                    field-required="$ctrl.requerirOficina"
                    input-name="ou"
                    initial-value="$ctrl.usuarioDetalle.ou"></div>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.ou.$touched">
                    <label class="pure-u-1 jt-label-error" for="ou" ng-show="$ctrl.formularioEdicionUsuarios.ou.$invalid">
                        <i class="fa fa-exclamation-triangle"></i>El campo Oficina es obligatorio
                    </label> 
                </div>
            </div>
        </div>
        
        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="title">Cargo</label>
                <input class="pure-u-1 " id="title" name="title" type="text" placeholder="Cargo" ng-model="$ctrl.usuarioDetalle.title" required sustantivos ></input>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.title.$touched">
                    <label class="pure-u-1 jt-label-error" for="title" ng-show="$ctrl.formularioEdicionUsuarios.title.$error.required">
                        <i class="fa fa-exclamation-triangle"></i>El campo Cargo es obligatorio
                    </label> 
                    <label class="pure-u-1 jt-label-error" for="title" ng-show="$ctrl.formularioEdicionUsuarios.title.$error.sustantivos">
                        <i class="fa fa-exclamation-triangle"></i>Revise el cargo ingresado
                    </label> 
                </div>
            </div>
        </div>
        
        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pure-g jt-edicion-fila">
                <label class="pure-u-1 " for="telephonenumber">Teléfono</label>
                <input class="pure-u-1 " id="telephonenumber" name="telephonenumber" type="text" placeholder="Teléfono" ng-model="$ctrl.usuarioDetalle.telephoneNumber" required telefono></input>
                <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.telephonenumber.$touched">
                    <label class="pure-u-1 jt-label-error" for="telephonenumber" ng-show="$ctrl.formularioEdicionUsuarios.telephonenumber.$error.required">
                        <i class="fa fa-exclamation-triangle"></i>El campo Teléfono es obligatorio
                    </label> 
                    <label class="pure-u-1 jt-label-error" for="telephonenumber" ng-show="$ctrl.formularioEdicionUsuarios.telephonenumber.$error.telefono">
                        <i class="fa fa-exclamation-triangle"></i>Revise el teléfono ingresado
                    </label> 
                </div>
            </div>
        </div>
        
        <legend>Atributos Posix y Samba</legend>

        <div class="pure-u-1">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="pure-g jt-edicion-fila">
                        <label class="pure-u-1 " for="grupo">Grupo Principal</label>
                        <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.grupo.$touched">
                            <label class="pure-u-1 jt-label-error" for="grupo" ng-show="$ctrl.formularioEdicionUsuarios.grupo.$error.required">
                                <i class="fa fa-exclamation-triangle"></i>Es obligatorio selecionar un Grupo principal
                            </label> 
                        </div>
                        <select class="pure-u-1 " id="grupo" name="grupo" ng-model="$ctrl.usuarioDetalle.grupo" ng-options="opcion.gidNumber as opcion.cn for opcion in $ctrl.grupos" required>
                        </select>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="pure-g jt-edicion-fila">
                        <label class="pure-u-1 " for="grupos">Grupos Adicionales</label>
                        <div ng-show="$ctrl.formularioEdicionUsuarios.$submitted || $ctrl.formularioEdicionUsuarios.grupos.$touched">
                            <label class="pure-u-1 jt-label-error" for="grupos" ng-show="$ctrl.formularioEdicionUsuarios.grupos.$error.required">
                                <i class="fa fa-exclamation-triangle"></i>Es obligatorio seleccionar un Grupo Adicional
                            </label> 
                        </div>
                        <select multiple class="pure-u-1 " id="grupos" name="grupos" size=12 ng-model="$ctrl.usuarioDetalle.grupos" ng-options="opcion.gidNumber as opcion.cn for opcion in $ctrl.grupos" required>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pure-u-1">
            <div class="pure-g jt-edicion-fila">
                <div class="pure-u-1-2 jt-contenedor-boton-izquierda">
                    <button type="submit" class="button-success jt-boton-formulario pure-button" ng-disabled="$ctrl.formularioEdicionUsuarios.$invalid || $ctrl.formularioEdicionUsuarios.$pristine">Modificar!</button>
                </div>
                <div class="pure-u-1-2 jt-contenedor-boton-derecha">
                    <button type="button" class="button-warning jt-boton-formulario pure-button" ng-click="$ctrl.reiniciar()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</form>
