<div class="pure-u-1 pure-u-md-7-24 ">
    <div class="contenido" ng-click="fetch()">
        <p>A continuación, se dispone del siguiente formulario para actualizar información que define su relación con el Ministerio de Salud de El Salvador.</p>

        <p>Si cree que no puede completar sus datos con la información contenida, contácte con la Unidad de Redes y Seguridad Informática del Ministerio de Salud para solventar su inconveniente</p>

        <p>Siempre puede confirmar la legitimidad de este formulario con su informático más cercano, o directamente con Dirección de Tecnología de Información y Comunicaciones en Ministerio de Salud</p>
        <p> Asi tenemos:<br> 
            <b>Nombre:</b> {{corpus.givenname}}<br>
            <b>Apellido:</b> {{corpus.sn}}<br>
            <b>Ubicacion:</b> {{corpus.o}}<br>
            <b>Oficina:</b> {{corpus.ou}}<br>
            <b>Cargo:</b> {{corpus.title}}<br>
            <b>Telefono:</b> {{corpus.telephonenumber}}<br>
            <b>DUI:</b> {{corpus.dui}}<br>
            <b>NIT:</b> {{corpus.nit}}<br>
            <b>Grupo Principal:</b> {{corpus.grupo}}<br>
            <b>Grupos Adicionales:</b> {{corpus.grupos}}
    </div>
</div>
<div class="pure-u-1 pure-u-md-17-24">
    <form class="pure-form jt-edicion-form" name="formularioEdicionUsuarios" novalidate>

        <legend>Datos personales para {{usuario}}</legend>
        
        <div class="pure-g">
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="givenname">Nombres</label>
                    <input class="pure-u-1 " id="givenname" name="givenname" type="text" placeholder="Nombre" ng-model="corpus.givenname"required sustantivos ></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.givenname.$touched">
                        <label class="pure-u-1 jt-label-error" for="givenname" ng-show="formularioEdicionUsuarios.givenname.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo Nombres es obligatorio
                        </label> 
                        <label class="pure-u-1 jt-label-error" for="givenname" ng-show="formularioEdicionUsuarios.givenname.$error.sustantivos">
                            <i class="fa fa-exclamation-triangle"></i>Revise el nombre ingresado
                        </label> 
                    </div>
                </div>
            </div>
                
            <div class="pure-u-1 pure-u-lg-1-2"> 
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="sn">Apellidos</label>
                    <input class="pure-u-1 " id="sn" name="sn" type="text" placeholder="Apellidos" ng-model="corpus.sn" required sustantivos></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.sn.$touched">
                        <label class="pure-u-1 jt-label-error" for="sn" ng-show="formularioEdicionUsuarios.sn.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo Apellidos es obligatorio
                        </label> 
                        <label class="pure-u-1 jt-label-error" for="sn" ng-show="formularioEdicionUsuarios.sn.$error.sustantivos">
                            <i class="fa fa-exclamation-triangle"></i>Revise los apellidos ingresados
                        </label> 
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="o">Establecimiento</label>
                    <input class="pure-u-1 " id="o" name="o" type="text" placeholder="Establecimiento" ng-model="corpus.o" required></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.o.$touched">
                        <label class="pure-u-1 jt-label-error" for="o" ng-show="formularioEdicionUsuarios.o.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo Establecimiento es obligatorio
                        </label> 
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="ou">Oficina</label>
                    <input class="pure-u-1 " id="ou" name="ou" type="text" placeholder="Oficina" ng-model="corpus.ou" required></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.ou.$touched">
                        <label class="pure-u-1 jt-label-error" for="ou" ng-show="formularioEdicionUsuarios.ou.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo Oficina es obligatorio
                        </label> 
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="title">Cargo</label>
                    <input class="pure-u-1 " id="title" name="title" type="text" placeholder="Cargo" ng-model="corpus.title" required sustantivos ></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.title.$touched">
                        <label class="pure-u-1 jt-label-error" for="title" ng-show="formularioEdicionUsuarios.title.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo Cargo es obligatorio
                        </label> 
                        <label class="pure-u-1 jt-label-error" for="title" ng-show="formularioEdicionUsuarios.title.$error.sustantivos">
                            <i class="fa fa-exclamation-triangle"></i>Revise el cargo ingresado
                        </label> 
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="telephonenumber">Teléfono</label>
                    <input class="pure-u-1 " id="telephonenumber" name="telephonenumber" type="text" placeholder="Teléfono" ng-model="corpus.telephonenumber" required telefono></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.telephonenumber.$touched">
                        <label class="pure-u-1 jt-label-error" for="telephonenumber" ng-show="formularioEdicionUsuarios.telephonenumber.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo Teléfono es obligatorio
                        </label> 
                        <label class="pure-u-1 jt-label-error" for="telephonenumber" ng-show="formularioEdicionUsuarios.telephonenumber.$error.telefono">
                            <i class="fa fa-exclamation-triangle"></i>Revise el teléfono ingresado
                        </label> 
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="dui">DUI</label>
                    <input class="pure-u-1 " id="dui" name="dui" type="text" placeholder="DUI" ng-model="corpus.dui" required dui></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.dui.$touched">
                        <label class="pure-u-1 jt-label-error" for="dui" ng-show="formularioEdicionUsuarios.dui.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo DUI es obligatorio
                        </label> 
                        <label class="pure-u-1 jt-label-error" for="dui" ng-show="formularioEdicionUsuarios.dui.$error.dui">
                            <i class="fa fa-exclamation-triangle"></i>Revise el número de DUI ingresado
                        </label> 
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g jt-edicion-fila">
                    <label class="pure-u-1 " for="nit">NIT</label>
                    <input class="pure-u-1 " id="nit" name="nit" type="text" placeholder="NIT" ng-model="corpus.nit" required nit></input>
                    <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.nit.$touched">
                        <label class="pure-u-1 jt-label-error" for="nit" ng-show="formularioEdicionUsuarios.nit.$error.required">
                            <i class="fa fa-exclamation-triangle"></i>El campo DUI es obligatorio
                        </label> 
                        <label class="pure-u-1 jt-label-error" for="nit" ng-show="formularioEdicionUsuarios.nit.$error.nit">
                            <i class="fa fa-exclamation-triangle"></i>Revise el número de DUI ingresado
                        </label> 
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-2">
                        <div class="pure-g jt-edicion-fila">
                            <label class="pure-u-1 " for="grupo">Grupo Principal</label>
                            <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.grupo.$touched">
                                <label class="pure-u-1 jt-label-error" for="grupo" ng-show="formularioEdicionUsuarios.grupo.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i>Es obligatorio selecionar un Grupo principal
                                </label> 
                            </div>
                            <select class="pure-u-1 " id="grupo" name="grupo" ng-model="corpus.grupo" required>
                                <option value="589">Opción 1</option>
                                <option value="590">Opción 2</option>
                                <option value="591">Opción 3</option>
                                <option value="592">Opción 4</option>
                                <option value="593">Opción 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        <div class="pure-g jt-edicion-fila">
                            <label class="pure-u-1 " for="grupos">Grupos Adicionales</label>
                            <div ng-show="formularioEdicionUsuarios.$submitted || formularioEdicionUsuarios.grupos.$touched">
                                <label class="pure-u-1 jt-label-error" for="grupos" ng-show="formularioEdicionUsuarios.grupos.$error.required">
                                    <i class="fa fa-exclamation-triangle"></i>Es obligatorio seleccionar un Grupo Adicional
                                </label> 
                            </div>
                            <select multiple class="pure-u-1 " id="grupos" name="grupos" size=10 ng-model="corpus.grupos" required>
                                <option value="589">Opción 1</option>
                                <option value="590">Opción 2</option>
                                <option value="591">Opción 3</option>
                                <option value="592">Opción 4</option>
                                <option value="593">Opción 5</option>
                                <option value="589">Opción 6</option>
                                <option value="590">Opción 7</option>
                                <option value="591">Opción 8</option>
                                <option value="592">Opción 9</option>
                                <option value="593">Opción 0</option>
                                <option value="589">Opción 1</option>
                                <option value="590">Opción 2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pure-u-1">
                <div class="pure-g jt-edicion-fila">
                    <div class="pure-u-1-2 jt-contenedor-boton-izquierda">
                        <button type="submit" class="button-success jt-boton-formulario pure-button" ng-click="enviar(corpus)" ng-disabled="formularioEdicionUsuarios.$invalid">Modificar!</button>
                    </div>
                    <div class="pure-u-1-2 jt-contenedor-boton-derecha">
                        <button type="reset" class="button-warning jt-boton-formulario pure-button" ng-click="reiniciar()">Cancelar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
