<div class="pure-g jt-fila-panel">
    <div class="pure-u-1 pure-u-lg-8-24  pure-u-xl-6-24  jt-celda">
        <i class="fa fa-user"></i>
        <span class="texto">{{$ctrl.usuario.givenName}} {{$ctrl.usuario.sn}}</span>
    </div>
    <div class="pure-u-1 pure-u-lg-5-24  pure-u-xl-3-24  jt-celda">
        <i class="fa fa-at"></i>
        <span class="texto">{{$ctrl.usuario.uid}}</span>
    </div>
    <div class="pure-u-1 pure-u-lg-11-24 pure-u-xl-12-24 jt-celda">
        <i class="fa fa-map-marker"></i>
        <span class="texto">
            <i>{{$ctrl.usuario.ou}}</i><span ng-if="$ctrl.usuario.ou && $ctrl.usuario.o.nombre"> en </span> <strong>{{$ctrl.usuario.o.nombre}}</strong></span>
    </div>
    <div class="pure-u-1 pure-u-lg-24-24 pure-u-xl-3-24 jt-celda jt-fila-panel-botonera">
        <div class="pure-g">
            <div class="pure-u-1-3 pure-u-md-1-3">
                <button class="button-success pure-button izquierda" ng-click="$ctrl.mostrarPanel(1)"><i class="fa fa-info-circle"></i></button>
            </div>
            <div class="pure-u-1-3 pure-u-md-1-3">
                <button class="button-success pure-button centro" ng-click="$ctrl.mostrarPanel(2)"><i class="fa fa-edit"></i></button>
            </div>
            <div class="pure-u-1-3 pure-u-md-1-3">
                <button class="button-error pure-button derecha" ng-click="$ctrl.mostrarPanel(3)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="pure-g" ng-if="$ctrl.muestraPanelDetalle">
    <detalle-usuarios usuario="$ctrl.usuario" usuario-detalle="$ctrl.usuarioDetalle" grupos="$ctrl.grupos"></detalle-usuarios>
</div>
<div class="pure-g" ng-if="$ctrl.muestraPanelEdicion">
    <jt-formulario-usuario corpus="$ctrl.usuario" corpus-detalle="$ctrl.usuarioDetalle" accion="'edicion'" ejecucion="$ctrl.editarFila(corpus, corpusDetalle)" grupos="$ctrl.grupos"></formulario-usuario>
</div>
<div class="pure-g" ng-if="$ctrl.muestraPanelBorrado">
    <borrado-usuarios usuario="$ctrl.usuario" usuario-detalle="$ctrl.corpus" borrar-entrada="$ctrl.borrarFila(usuario)"></borrado-usuarios>
</div>
