.menu {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    /*Esto se lo agregran después*/
    width: 100%;
}

.menu-lista {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.menu-elemento {
    float: left;
}

.menu-elemento a{
    text-decoration: none;
} 

.titulo,
.principal,
.barra-tareas {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.2em;
    width: 100%;
}

@media screen and (min-width: 54em) {
    .titulo {
        width: 20%;
    }
    .principal {
        width: 69%;
    }
    .barra-tareas {
        width: 10%;
    }
}


