/* app css stylesheet */

/**
    Sobreescribo algunos originales en búsqueda de legibilidad y ahorro de espacio
*/

body {
    background-color: #f2f2f2;
    color:#565d64;
    font-size: 0.9em;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    /*Estos han funcionado bien bonito*/
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    text-align: justify;
}

h1,h2,h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main {
    /* 0.3 originales y 3.375 del menú  */
    margin-top: 3.675em;
}

footer {
    margin-top: 4.5em;
}

footer p {
    margin: 1.5em;
    text-align: center;
}

.pure-table {
    width: 99.5%;
    border: 0em;
}


.pure-form fieldset {
    width: 100%;
    border: none;
    margin: 0.5em 0.2em 0 0.2em;
}

.pure-form legend {
    font-size: 1.15em;
    border: 0;
    padding: 0em 0.2em 0.5em 0.3em;
    font-weight: 600;
    width: initial;
    letter-spacing: normal;
}


/* Hago los íconos de Font-Awesome un cuadrito bien bonito */
.fa { 
    width: 1.25em;
    margin-right: 0.1875em;
    text-align: center;
}

.contenido {
    color: #333;
    padding: 0em 0.6em;
    box-sizing: border-box;
}


/* ######################################################################### */

/* 
    Empieza CSS para componente usuario/detalle 
*/

dl.atributo-titulo dt{
    float: left;
    padding-right: 1em;
    font-size: 1.2em;
}

dl.atributo-titulo dd{
    font-size: 1.2em;
    font-weight: bolder;
}

dt {
    font-size: 0.75em;
}

dd {
    font-size: 1.1em;
    color: #313233;
    letter-spacing: 0.009em;
}
/* 
    Termina CSS para componente usuario/detalle 
*/

/* ######################################################################### */

/*
    Comienza CSS para componente usuario/edicion
*/

/**
 * Al parecer es la mejor opción
 * TODO: De hecho, parece que ya poco uso del original sobre formulario
 */
.pure-form {
    width: 99.5%;
}

.jt-form-auth {
    width: 50%;
    box-sizing: border-box;
    margin: auto;
}

.jt-form-component {
    /* min-height margin: 0.25em 2em 0.3em 1.5em;*/
    margin: 0em 2em 0em 1.5em;
    min-height: 5em;
}

.jt-contenedor-boton-izquierda {
    text-align: right;
    box-sizing: border-box;
    padding-right: 0.5em;
}

.jt-contenedor-boton-derecha {
    box-sizing: border-box;
    padding-left: 0.5em;
}

/* TODO: Hay un problema cuando se está en 481 px */
.pure-form .jt-boton-formulario {
    width: 8.5em;
}

/* Estoy por empezar a tomar estilos de http://callmenick.com/post/various-css-input-text-styles */

.pure-form select,
.pure-form input[type="text"], 
.pure-form input[type="date"] {
    background-color: #f2f2f2;
    min-height: 2.55em; 
    width: 100%;
    padding: 0.5em 0.8em 0.3em 0.6em;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: solid 0.2em #c9c9c9;
    border-bottom-left-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}

.pure-form select:focus,
.pure-form input[type="text"]:focus,
.pure-form input[type="date"]:focus {
    outline: none;
    box-shadow: none;
    border-bottom: solid 0.2em #969696;
    border-bottom-left-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}

.pure-form select[disabled],
.pure-form input[type="text"][disabled],
.pure-form input[type="date"][disabled] {
    background-color: inherit;
}
/* Hablando de componentes bonitos, estoy haciendo un input con icono de la siguiente forma */
.jt-input-iconico {
    display: block;
    position: relative;
}

.jt-input-iconico-ico {
    position: absolute;
    top: 0.7em;
    left: 0.3em;    
}

input[type="text"].jt-input-iconico-in {
    padding-left: 1.8em;   
    font-size: 1.25em;
}

.jt-formulario-busqueda {
    margin-left: 0;
    margin-bottom: 0.1em;
    margin-top: 0; 
    background-color: #fff;
}

/* Acá empiezo el trabajo para que Angular apoye la validación */
/* Esta sería la medida para una sombra por abajo  box-shadow: 0 8px 6px -6px #85b3d4; */
input.ng-valid.ng-touched {
    border-bottom: solid 0.13em #85b3d4;
    /*box-shadow: inset 0px -10px 8px -11px #85b3d4;*/
    box-shadow: inset 0px -9px 8px -11px #85b3d4;
}

input.ng-invalid.ng-touched {
    border-bottom: solid 0.13em #690909;
    box-shadow: inset 0px -9px 8px -11px #690909;
}

.pure-form label{
    margin: 0.4em 0em 0.1em;
    font-size: 0.84em;
}

.pure-form .jt-label-error {
    font-size: 0.8em;
    color: #330b0b;
    font-weight: 600;
    padding-left: 0.8em;
    margin-top: 0.3em;
}

/*
    Termina CSS para componente usuario/edicion
*/

/* ######################################################################### */

/*
    Comienza CSS para componente Angucomplete Alt
*/
.jt-resaltado {
    color: #df3914;
}

/* Siempre que quiera usarse otro angucomplete-alt, habrá que declararlo acá */
#oficina_dropdown,
#establecimiento_dropdown {
    box-sizing: border-box;
    position: absolute;
    width: 98%;
    top: 45px;
    left: 1%;
    z-index: 100;
    height: 500px;
    overflow-x: scroll;
}

.angucomplete-searching {
    font-size: 1em;   
    padding: 0.5em;
    color: #df7514;
}

/* Parece que debería controlar el comportamiento de los componentes personalizados en lo que a CSS se refiere  */
edicion-usuarios,
detalle-usuarios,
borrado-usuarios {
    width: 100%;
}

/*
    Termina CSS para componente usuario/edicion
*/

/* ######################################################################### */

/*
    Comienza CSS para componente borrado-usuarios
*/

/* TODO: Hay un pequeño problema cuando se esta en mínimos, aunque no parece referirse al tamaño habrá que tomarlo en cuenta */
.jt-form-borrado legend {
    margin-bottom: 0.5em;
}

.pure-form .jt-boton-formulario-borrado {
    width: 8.5em;

}

/*
    Termina CSS para componente usuario/borrado
*/

/* ######################################################################### */

/*
 * Comienza CSS para componente alertas
 *
 */

.alerta {
    margin-left: 1%;
    width: 100%;
    min-height: 3.8em;
    padding: 0.6em 1.5em;
    margin: 0;
    box-sizing: border-box;
    border-radius: 0.1em;
    color: #333;
    border-left-width: 1em;
    border-left-style: inset;
}

.alerta.alerta-error {
    background-color: rgba(177, 120, 120, 0.3);
    border-left-color: #d48585;
}

.alerta.alerta-aviso {
    background-color: #85bad4;
    background-color: rgba(120, 158, 177, 0.3);
    border-left-color: #85bad4;
}

.alerta p,h4 {
    margin: 0;
}

.alerta h4 {
    margin: 0;
    line-height: 1.5em;
}

.alerta p {
    font-size: initial;
    line-height: initial;
    text-indent: 1em;
    font-size: 0.95em;
    line-height: 1.3em;
}

.alerta span.fa.fa-close {
    margin-right: -0.4em;
    padding-top: 0.5em;
}

.alerta span.fa {
    cursor: pointer;
    float: right;
    width: 1.5em;
    height: 1.5em;
    text-align: end;
}

/*
 * Termina CSS para componente alertas
 *
 */

/*
 * Comienza CSS para spinner
 * http://tobiasahlin.com/spinkit/
 *
 */
 .spinner {
     z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #f2f2f2;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
 }
 
 /*
 * Comienza CSS para spinner
 *
 */

 .blackout {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.63);
    position: relative;
    z-index: 7777;
}

.blackout-is-active {
    pointer-events:  none;
}
/*
https://hospodarets.com/highlight_element_with_page_fading
*/

.blackout {
    pointer-events:  none;
}